body {
    font-size: $default-font-size;
    // font-family: $font-family;  // todo: font-familyを再定義する。（現状は、仮を入れているだけ）
    color: $color-black;
    font-weight: 400;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
}