$color-white: #fff;
$color-black: #000;
$color-blue: #0093FF;

$color-green: #1CBF29;
$color-green-light: #56E55F;

$color-dark: #3C3C3C;
$color-text-dark: #383838;
$color-text-grey: #707070;

$color-bg-green: #98EB6B;
$color-bg-green-light: #D7F7C4;

$color-bg-yellow: #FFF7CB;
$color-bg-yellow-dark: #FFF1AD;