.first-view {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../../../img/Top_Pic.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    @include respond(phone){
        height: 30vh;
    }
    > .toppic {
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
    > .contentwrapper {
        background-color: white;
        opacity: 0.7;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        > .secondtitle {
            text-align: center;
            color: rgb(17,57,98);
            font-size: 75px;
            padding-top: 125px;
        }
        > .description {
            margin: 0 auto;
            width: 60%;
            text-align: center;
            font-size: 18px;
        }
    }
}