.header-menu {
    display: none;
    height: 215px;
    width: 100%;
    background-color: white;
    > .maintitle {
        padding-top: 15px;
        font-size: 55px;
        font-weight: bold;
        text-align: center;
    }
    > #nav {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        overflow: hidden;
    } 
    > #nav li {
        width: 140px;
        text-align: center;
        background-color: #333;
        float: left;
        height: 50px;
        line-height: 50px;
        margin-right: 2px;
        &:hover {
            opacity: 0.7;
        }
    }
    > #nav li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 20px;
    }
}