.our-introduction {
    margin-top: 50px;
    height: 110vh;
    width: 100%;
    padding: 30px 0;
    background-color: rgb(238,255,222);
    > .section-title {
        padding-bottom: 40px;
    }
    > .wrapper {
        margin: 0 auto;
        width: 85%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > .hokuto {
            width: 45%;
            height: 100%;
            position: relative;
            > img {
                width: 230px;
                height: 200px;
                object-fit: contain;
                position: absolute;
                top: 0;
                right: 0;
            }
            > .p1 {
                position: absolute;
                right: 0;
                z-index: 100;
                font-weight: bold;
                font-size: 5px;
                color: red;
                > span {
                    display: inline-block;
                    padding: 0.3em 0.5em 0.25em 0.5em;
                    margin-bottom: 0.48em;
                    background-color: white;
                }
            }
            > p {
                font-weight: bold;
                > span {
                    display: inline-block;
                    padding: 0.3em 0.5em 0.25em 0.5em;
                    margin-bottom: 0.48em;
                    background-color: white;
                }
            }
        }
        > .yuta {
            position: relative;
            width: 45%;
            height: 100%;
            > img {
                position: absolute;
                top: 0;
                right: 0;
                width: 230px;
                height: 200px;
                object-fit: contain;
            }
            > p {
                font-weight: bold;
                > span {
                    display: inline-block;
                    padding: 0.3em 0.5em 0.25em 0.5em;
                    margin-bottom: 0.48em;
                    background-color: white;
                }
            }
        }
    }
}