.our-vision {
    padding-top: 40px;
    height: 113vh;
    width: 100%;
    background-color: white;
    text-align: center;
    > #title {
        letter-spacing: .1em;
        font-size: 36px;
        font-weight: bold;
    }
    > .text {
        color: rgb(17,57,98);
        font-size: 24px;
        margin-bottom: 30px;
    }
    > .text span {
        opacity: 0;
    }
    > #last {
        font-weight: bold;
        font-size: 30px;
        font-style: italic;
    }
}