.our-vision {
    padding: 75px 0;
    height: 750px;
    width: 100%;
    background-color: white;
    text-align: center;
    @include respond(phone){
        height: 650px;
        padding: 65px 0;
    }
    > #title {
        letter-spacing: .1em;
        font-size: 36px;
        font-weight: bold;
        @include respond(phone){
            font-size: 9vw;
        }
    }
    > .text {
        color: rgb(17,57,98);
        font-size: 24px;
        margin-bottom: 30px;
        @include respond(phone){
            width: 90%;
            margin: 0 auto;
            font-size: 3vw;
            margin-bottom: 30px;
        }
    }
    > .text span {
        opacity: 0;
    }
    > #last {
        font-weight: bold;
        font-size: 30px;
        font-style: italic;
        @include respond(phone){
            padding-top: 20px;
            font-size: 6vw;
        }
    }
}