.our-introduction {
    margin-top: 50px;
    height: 740px;
    width: 100%;
    padding: 75px 0;
    background-color: rgb(238,255,222);
    @include respond(phone){
        height: 210vh;
    }
    > .section-title {
        padding-bottom: 40px;
    }
    > .wrapper {
        margin: 0 auto;
        width: 85%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include respond(phone){
            margin-top: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        > .hokuto {
            width: 45%;
            height: 100%;
            position: relative;
            @include respond(phone){
                margin: 0 auto;
                width: 80%;
                height: auto;
                margin-bottom: 50px;
            }
            > img {
                width: 230px;
                height: 200px;
                object-fit: contain;
                position: absolute;
                top: 0;
                right: 0;
                @include respond(phone){
                    width: 200px;
                    top: -30px;
                }
            }
            > .p1 {
                position: absolute;
                right: 0;
                z-index: 100;
                font-weight: bold;
                font-size: 5px;
                color: red;
                @include respond(phone){
                    top: -30px;
                }
                > span {
                    display: inline-block;
                    padding: 0.3em 0.5em 0.25em 0.5em;
                    margin-bottom: 0.48em;
                    background-color: white;
                }
            }
            > p {
                font-weight: bold;
                > span {
                    display: inline-block;
                    padding: 0.3em 0.5em 0.25em 0.5em;
                    margin-bottom: 0.48em;
                    background-color: white;
                }
                > .brpc {
                    @include respond(phone){
                        display: none;
                    }
                }
            }
        }
        > .yuta {
            position: relative;
            width: 45%;
            height: 100%;
            @include respond(phone){
                margin: 0 auto;
                width: 90%;
                height: auto;
            }
            > img {
                position: absolute;
                top: 0;
                right: 0;
                width: 230px;
                height: 200px;
                object-fit: contain;
                @include respond(phone){
                    top: -15px;
                }
            }
            > p {
                font-weight: bold;
                > span {
                    display: inline-block;
                    padding: 0.3em 0.5em 0.25em 0.5em;
                    margin-bottom: 0.48em;
                    background-color: white;
                }
                > .brpc {
                    @include respond(phone){
                        display: none;
                    }
                }
            }
        }
    }
}