.use-flow {
    margin-top: -6px;
    padding: 75px 0;
    background-color: rgb(235,245,248);
    @include respond(phone){
        padding: 40px 0;
    }
    > .section-title {
        @include respond(phone){
            font-size: 9vw;
            padding: 40px 0;
        }
    }
    > .flow {
        text-align: center;
        font-size: 24px;
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include respond(phone){
            width: 90%;
        }
        > .step1 {
            font-size: 16px;
            margin-bottom: 15px;
            > .what1 {
                font-weight: bold;
                color: rgb(17,57,98);
                @include respond(phone){
                    padding-bottom: 25px;
                }
            }
            > .p1 {
                @include respond(phone){
                    font-size: 3vw;
                    margin-bottom: 10px;
                }
            }
            > .qr {
                width: 150px;
                height: 150px;
                object-fit:contain;
            }
        }
        > .step2 {
            font-size: 16px;
            margin-bottom: 15px;
            > .what2 {
                font-weight: bold;
                color: rgb(17,57,98);
            }
        }
    }
}