.why-nomad {
    padding-top: 75px;
    > .section-title {
        @include respond(phone){
            font-size: 7vw;
        }
    }
    > .point {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 100px;
        @include respond(phone){
            height: 200px;
        }
        > .text {
            width: 40%;
            position: relative;
            @include respond(phone){
                width: 50%;
            }
            > p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                > span {
                    color: rgb(17,57,98);
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        > img {
            @include respond(phone) {
                object-fit: contain;
                width: 50%;
            }
        }
    }
}